.App {
  text-align: center;
  color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
}
.header {
  background-color: #192a56;
  color: white;
  padding: 14px;
  width: 100%;
}

.form {
  margin-top: 20px;
}

.data {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data_val {
  display: flex;
  justify-content: space-between;
  width: 60%;
  /* background-color: rgb(203, 195, 195); */
  padding: 0px, 9px, 0px, 9px;
  box-shadow: rgba(39, 39, 116, 0.2) 0px, 7px, 29px, 0px;
}
